<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>

      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li
            class="list-group-item"
            *ngFor="let odd of oddNumbers"
            [ngClass]="{oddRed: odd % 2 !== 0}"
            [ngStyle]="{backgroundColor: odd % 2 !== 0 ? 'yellow' : 'transparent'}"
          >
          {{ odd }}
          </li>
        </div>

        <!-- ngClass assingnes the class oddRed by binding binds the class to the "property" odd of the for loop -->
        <!-- ngStyle sets the background color based on that condition -->

        <div *ngIf="!onlyOdd">
          <li
            class="list-group-item"
            *ngFor="let even of evenNumbers"
            [ngClass]="{oddRed: even % 2 !== 0}"
            [ngStyle]="{backgroundColor: even % 2 !== 0 ? 'yellow' : 'transparent'}"
          >
            {{ even }}
          </li>
        </div>
      </ul>
      <p appBasicHighlight >Style me with basic directive!</p>
      <p appBetterHighlight [defaultColor]="'yellow'" [highlightColor]="'red'">Style me with a better directive!</p>

      <!-- also, if I add a class to this p like "class="blue", the directives overwrite the css of the component -->
    </div>
  </div>

  
      <!-- <ng-template [ngIf]="onlyOdd">
        <p>Only odd</p>
      </ng-template> -->


<!-- ************************************** -->

      <!-- how to use *ngIf with else -->
      <!-- <ul class="list-group">
        <div *ngIf="onlyOdd; else even">
          <li
            class="list-group-item"
            *ngFor="let odd of oddNumbers"
          >
          {{ odd }}
          </li>
        </div>

      <ng-template #even>
        <div>
          <li
            class="list-group-item"
            *ngFor="let even of evenNumbers"
          >
            {{ even }}
          </li>
        </div>
      </ng-template>
      
      </ul> -->


